.service {
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    padding-left: 390px;
    padding-right: 390px;

    &__heading {
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            text-transform: uppercase;
            font-family: 'Poppins';
            font-size: 36px;
        }

        span {
            font-family: 'Poppins';
        }

        &__myCanvas {
            background-color: rgb(175, 148, 42);
        }
    }

    &__images {
        display: flex;
        justify-content: space-around;
        padding-top: 108px;
        flex-wrap: wrap;

        &__first {
            width: 250px;
            height: 200px;
            background-image: url(../../img/peopleWalking.png);
            background-size: cover;
            display: flex;
            align-items: center;
            justify-content: center;

            @include ruleForImageBox;
        }

        &__second {
            width: 250px;
            height: 200px;
            background-image: url(../../img/family.png);
            background-size: cover;
            display: flex;
            align-items: center;
            justify-content: center;

            @include ruleForImageBox;
        }

        &__third {
            width: 250px;
            height: 200px;
            background-image: url(../../img/column.png);
            background-size: 100% 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            @include ruleForImageBox;
        }

        &__fourth {
            width: 250px;
            height: 200px;
            background-image: url(../../img/sheets.png);
            background-size: cover;
            display: flex;
            align-items: center;
            justify-content: center;
            @include ruleForImageBox;

        }
    }
}